<ion-content>
  <div class="startTop">
    COXTI
  </div>
  <ion-card class="cardLogin">
    <ion-card-header>
      <ion-card-title class="ion-text-center cardTitle">LOGIN</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div [formGroup]="loginInformation">
      <ion-item>
        <ion-label position="floating">Nickname or Email</ion-label>
        <ion-input formControlName="username"></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.username">
        <ng-container *ngIf="username.hasError(error.type) && (username.dirty || username.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div *ngFor="let error of errorMessages.password">
        <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
    </div>
      <div class="ion-text-center divButton">
        <ion-button (click)="login()">
          LOGIN
        </ion-button>
        <div class="txtSign" (click)="registerPage()">
          Don't have an account? Sign up
        </div>
      </div>
    </ion-card-content>

  </ion-card>

</ion-content>