<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dashboard
    </ion-title>
    <ion-buttons slot="primary">
      <ion-buttons slot="primary">
        <ion-button (click)="registerPage()">
          <ion-icon slot="start" name="person-circle"></ion-icon>
        </ion-button>
        <ion-button (click)="finishSession()">
          <ion-icon slot="start" name="power-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
    </ion-card-header>

    <ion-card-content>
      The session will be finished in 5 minutes. at this time you can edit your information or close the session.
    </ion-card-content>
  </ion-card>

</ion-content>